<script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>

<%= form_with(model: idea, local: true, class: 'form') do |form| %>
  <%= form.text_field :current_user, :value => current_user.first_name %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group row">
    <%= form.label :name, :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, :class => 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_area :description, :id => 'description', :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :picture, :class => 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.file_field :picture, :class => '' %>
    </div>
  </div>      

  <div class="form-group">
    <div class="actions">
      <%= form.submit :Submit, :class => 'btn btn-default btn-sm' %>
    </div>
  </div>
<% end %>

<script>
    ClassicEditor
            .create( document.querySelector( '#description' ) )
            .then( editor => {
                    console.log( editor );
            } )
            .catch( error => {
                    console.error( error );
            } );
</script>