<% if current_user %>
  <button class="btn btn-danger"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </button>

  <%= link_to('Add new post', new_idea_path) %>

  <h1>Listing ideas</h1>

  <% @ideas.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |idea| %>
        <div class="col-md-4">
          <%= image_tag idea.picture_url(:thumb) if idea.picture.present? %>
          <h4><%= idea.name %></h4>
          <p><%= idea.description.truncate(27).html_safe %><%= link_to '...Read More', idea%> </p>

          <hr>
          <%= idea.created_at.to_formatted_s(:long_ordinal) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>  