<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %></br>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %><br>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %><br>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
