<%= form_with(model: [ @idea, @idea.comments.build ], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group row">
  <%= form.label :user_name , :class => 'col-sm-4 col-form-label'%>
  <div class="col">
    <%= form.text_field :user_name, :readonly => true, :value => current_user.first_name, :class => 'form-control' %>
  </div>
</div>

  <div class="form-group row">
    <%= form.label :body, :class => 'col-sm-4 col-form-label' %>
    <div class="col">
      <%= form.text_area :body, id: :comment_body , :class => 'form-control' , :rows => '5' %>
    </div>
  </div>
  <%= form.hidden_field :idea_id %>
  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="form-group row">
    <%= form.submit :Submit, :class => 'btn' %>
  </div>
<% end %>
